<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>today</title>

    <!-- Slidebars CSS -->
    <link rel="stylesheet" href="css/slidebars.min.css">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-fixed-top sb-slide" role="navigation">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li class="sb-toggle-right" role="presentation"><a href="#">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a></li>
            </ul>
            <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="add_story">
                 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a></li>
            </ul>
        </nav>
        <center>
            <a href="/" style="text-decoration: none; color: white;"><h1 >today</h1></a>
        </center>
    </div>
    <div id="sb-site">

        <div class="body_container">
            <center>
                <p class="intro_text">
                    <font size=7>Top Stories</font><br>
                    <font size=3>See what's trending around the world</font>
                </p>
            </center>

            {{#each posts}}
            <div class="post" id="{{id}}">
                <div class="postbox">
                    <div class="post_data">
                        <!-- edit menu -->
                        <div class="drop_edit_delete" id="{{name}}">
                            <div class="dropdown">
                                <span style="float:right" class="glyphicon glyphicon-chevron-down" aria-hidden="true" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"></span>
                            
                                  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" id="delButton" href="#">Delete</a></li>
                                  </ul>
                            </div>
                        
                        </div>

                        <div style="float:left">
                            <img src="{{pImgUrl}}" alt="Image" width="75" height="75"id="postprofilepic">
                            <div style="float:right"><h5>{{name}}</h5></div>
                        </div>
                        <div style="float:right">
                            <p>{{date}}</p>
                            <p>{{location}}</p>
                        </div>
                    </div>
                    <a href='#'>
                        <img src="{{imgURL}}" alt="Image" id="postpic">
                    </a>
                    <div class="likebox">
                        <a href="#" style="color: black"><span style="float:left" class="glyphicon glyphicon-thumbs-up thumb" aria-hidden="true" id="{{id}}"></span></a>
                        <p id="likes" style="display:inline">{{likes}}</p> Likes
                    </div><br>
                    <font size=4><p>{{description}}</p></font>
                </div>
            </div>

            {{/each}}
        
        </div>

    </div>
    

    {{> hamburger}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Slidebars -->
    <script src="js/slidebars.js"></script>
    <script>
        $(document).ready(function() {
            $.slidebars();

            initializePage();
        })

        function initializePage(){
            $('.post #postpic').click(function(e){
                e.preventDefault();
                var postId = $(this).closest('.post').attr('id');

                var url_call = '/post/'+postId;
                console.log("url call is " + url_call);
                var json = {
                    'id': postId
                }
                $.get(url_call, json, function(){
                    window.location.href = url_call;
                });
                

            });

            $('.post #delButton').click(function(e){
                e.preventDefault();
                //console.log("delete called on" + url_call);
                var postId = $(this).closest('.post').attr('id');

                var url_call = '/post/'+postId+'/delete';
                //console.log("delete called on" + url_call);
                
                $.post(url_call, function(){
                    location.reload();
                });
                

            });

            $('.thumb').click(function(e){
                e.preventDefault();
                // var likeLength = $(this).closest('.likebox').text().indexOf("L");
                // var likeCount = parseInt($(this).closest('.likebox').text().substring(0,likeLength));

                var postId = $(this).closest('.post').attr('id');
                var likeCount = $(this).closest('.likebox').find("#likes").text();

                if($(this).hasClass("liked")){
                    // unlike that shiz
                    $(this).removeClass("liked");

                    // decrease the like count
                    $(this).closest('.likebox').find("#likes").text(--likeCount);
                    $.post('/unlike', {"id": postId}, function() {
                        console.log("post got unliked!");
                     });
                    // do databse stuff
                }
                else{
                    // like it!
                    $(this).addClass("liked");

                    // increase the like count
                    $(this).closest('.likebox').find("#likes").text(++likeCount);
                    $.post('/like', {"id": postId}, function() {
                        console.log("post got liked");
                     });
                }
                //console.log("likes : " + likeCount);
            });
        }

        var delEditOp = document.getElementsByClassName("drop_edit_delete");
        for( i=0; i<delEditOp.length; i++){
            var elmUserName = delEditOp[i].getAttribute("id");
            if (elmUserName != {{#user}}"{{username}}"{{/user}}){
                delEditOp[i].style.visibility= "hidden";
            }
        }

        var sessUser = {{#user}}"{{username}}"{{/user}};
        // console.log('sess user is ' + sessUser);
        
        {{#each posts}}
            var postId = "{{id}}";
            {{#likedBy}}
             if("{{this}}" == sessUser){
                $("#"+ postId+ " .thumb").addClass("liked");
             }
             {{/likedBy}}
        {{/each}}

        
    </script>
</body>

</html>